nav {
    height: 92px;
    max-width: 980px;
    margin: 0 auto;
    border-bottom: solid 2px #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    z-index: 1;
    

    // links
    .links {
        width: 500px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        a {
            color: #fff;
            text-decoration: none;
            font-family: $font-gill;
            font-size: 15px;
            font-weight: 300;
            letter-spacing: 2px;
        }

        span {
            color: #70addc;
        }
    }
}